
*{
	padding: 0px;
	margin: 0px;
}
body{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Alfa Slab One', cursive;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img{
	max-width: 100%;
}
/*global css start*/

/*global css start*/
.rafi{
	width: 100%;
	padding: 80px 0px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 50px;
	font-weight: bold;
	color: black;
	background: #eee;
	box-shadow: 10px 11px 12px #ccc;
}
.number-counter{
	width: 100%;
	padding: 100px 0px 200px 0px;
	
}
.counter-box{
	width: 100%;
	padding: 40px;
	border: 2px solid #08c;
	text-align: center;
	border-radius: 10px;
	box-shadow: 10px 11px 12px black;
	transition: 1s;
}
.counter-box:hover{
	color: white;
	background: black;
}
.counter-box .fa{
	font-size: 90px;
	color: #08c;
}
.counter-box h1{
	font-size: 90px;
	color: #08c;
	font-weight: bold;

}

/*global start end*/



/*header part css start*/
.header{
	width: 100%;
	background: url("../images/bg1.jpg") center top no-repeat;
	background-size: cover;
	padding: 0px 0px;
	
}
.header .top-menu{
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	padding: 10px 20px 10px 10px;

}
.main-menu .logo{
	margin: 15px 0px 0px;
}
.main-menu .text-right{
	font-family: 'Montserrat', sans-serif;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 20px 2px  0px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0px 0px 0px 20px;
	color: #3d2514;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color: #bf2222;
}
/*header part css end*/

/*bannner start*/
.banner{
	width: 100%;
	padding: 40px 0px;
}
.inner-banner{
	width: 100%;
	margin: 38px 0px 0px;
}
.inner-banner h5{
	  font-family: 'Bebas Neue', sans-serif;
	  font-size: 24px;
	  line-height: 1.2em;
	  color: #3d2514;
	  font-weight: 300;
	  letter-spacing: 1px;
}

.inner-banner h5 span{
	margin: 0px 0px 15px;
	padding: 10px;
	border: 2px solid dashed #3d2514;
	display: inline-block;

}
.inner-banner h1{
	font-size: 60px;
	font-weight: bold;
	line-height: 1.2em;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 5px 4px #fff;
}
.inner-banner h3{
	font-size: 30px;
	font-weight: bold;
	line-height: 1.2em;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 5px;
	
}
/*banner end*/

/*feature part start*/
.feature{
	margin: 0px 0px 40px 0px;
	padding: 0px 70px;
}
.feature .card{
	margin: 0px 0px 5px;
	border: 0px;
}
.feature .card h5{
	margin: 20px 0px 0px;
	color: white;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 24px;
	font-weight: 300;

}
.feature .card h2{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2em;
	color: white;
	letter-spacing: 1px;
}
/*feature end*/

/*choose start*/

.choose{
	width: 100%;
	padding: 20px 0px 80px;

}
.choose .title{
	width: 100%;
	padding: 0px 0px 40px;
	text-align: center;
}

.choose .title h3{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 24px;
	font-weight: 300px;
	line-height: 1.2em;
	color: #3d2514;
	letter-spacing: 1px;
}
.choose .title h3 span{
	padding: 10px;
	margin: 0px 0px 15px;
	display: inline-block;
	background: #ffc045;
}
.choose .title h2{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 1.2em;
	color: #3d2514;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.choose .title p{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.7em;
	color: red;
}
.choose-inner{

	width: 100%;
	padding: 20px;
	text-align: center;
}

.choose-inner .img-fluid{
	width: 100%;
	margin: 0px 0px 10px;
	height: 245px;
	text-transform: uppercase;

}

.choose-inner  h4{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.2em;
	color: red;

}
.choose-inner p{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.7em;
	color: black;
}

.choose-inner .btn-danger{
	display: inline-block;
	padding: 10px 40px;
	font-size: 20px;
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
	border-radius: 0px;
	border: 1px solid red;
	color: #fff;
	background: #bf2222;
	transition: 1s;

 
}
.choose-inner .btn-danger:hover{
	color: #bf2222;
	background: #fff;
}

.choose-inner .btn-danger:focus{
	color: white;
	background: green;
}
/*choose end*/

/*slider start*/
.slider{
	width: 100%;
	padding: 80px 0px;
}
.slider .owl-carousel{
	width: 100%;
	padding: 80px 0px;
	box-shadow: 0px 6px 10px #fff;
}
.slider .item h4{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.2em;
	color: red;
	letter-spacing: 1px;
}
.slider .item h2{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 1.2em;
	color: #3d2514;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0px 0px 20px;
}
.slider .item p{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.7em;
	color: darkslateblues;
}
.slider .owl-theme .owl-nav.disabled+.owl-dots {
    /* margin-top: 10px; */
    position: absolute;
    bottom: 12%;
    left: 2%;
}
.slider .owl-theme .owl-dots .owl-dot.active span, .slider .owl-theme .owl-dots .owl-dot:hover span {
	background: #ffc045;
}
.slider .owl-theme .owl-dots .owl-dot span{
	width: 15px;
	height: 15px;
}

/*slider end*/



/*form start*/
.contact-section{
	width: 100%;
	padding: 80px 0px 120px;
	background: url(../images/bg2.png) center top no-repeat;
	background-size: cover;
}
.contact-section .tittle{
	width: 100%;
	padding: 0px 0px  80px;
	text-align: center;

}
.contact-section .tittle h2{
	font-size: 56px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.2em;
	color: #3d5124;
	letter-spacing: 1px;
}

.contact-section .main-form{
	width: 100%;
	padding: 0px 0px 40px;
}
.contact-section .main-form .form-control{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 15px;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 500;
	color: #3d2514;
	border: 1px solid red;
	border-radius: 5px;
}
.contact-section .main-form .btn-danger{
	font-family: 'Alfa Slab One', cursive;
	display: block;
	padding: 15px;
	border: 1px solid #bf2222;
	color: white;
	background: #bf2222;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 1s;
}
.contact-section .main-form .btn-danger:hover{
	background: white;
	color: black;
}


.contact-section .main-form .form-control:focus{
	box-shadow: 0 0 0 0 25rem;
}


/*form end*/

/*fotter start*/

.footer{
	width: 100%;
	padding: 10px 0px 0px 40px;
}
.main-footer{
	width: 100%;
	padding: 80px 25px 10px;
	background: #eee;
	/*background: url(../images/bg24.jpg) center top no-repeat ;
	background-size: cover;*/
}
.f-text{
	font-size: 16px;
	color: black;
	margin: 0px 0px 110px;

}


.main-footer .f-logo{
	margin: 0px 0px 30px;
}

.info{
	display: block;
}
.info li{
	font-family: 'Bebas Neue', sans-serif;
	list-style: none;
	display: block;
	margin: 0pxd 0px;
	font-size: 16px;
	font-weight: 400;
	color: black;
	letter-spacing: 2px;
}
.info li img{
	margin: 0px 20px 0px 0px;
}
.copyrights{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 16px;
	color: red;
	text-transform: uppercase;
}
/*.social-icons{
	width: 100%;
	padding: 0px;
	text-align: center;
}
.social-icons li{
	list-style: none;
	display: inline-block;
}
.social-icons li a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: black;
	color: white;
	border: 1px solid black;
	border-radius: 100%;
	text-align: center;
	font-size: 30px;
}*/

/*fotter end*/